.footer{
    width: 100%;
    display: flex;
    padding: 5%;
    align-items: center;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.redes img{
    padding: 0px 15px;
}

.footer strong {
    max-width: 253px;
}

.logo {
    position: absolute;
    right: 41%;
}

@media screen and (max-width: 768px){
    .footer{
        flex-direction: column;
    }

    .footer strong {
        max-width: none;
        text-align: center;
    }

    .logo {
        position: initial;
        padding: 30px 0 30px 70px;
    }
}